body {
  color: #555555;
  width: 450px;
  font-family: Avenir;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  font-size: 15px;
  padding: 20px;
}

.source-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
}

.source-select--item.selected {
  /* hack to look bold without changing width */
  text-shadow: .7px 0 0 currentColor;
  text-decoration: underline;
}

.source-select--item:hover {
  background-color: #F6F6F6;
}

.source-select--item {
  cursor: pointer;
}

.archive {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.calendar {
  height: min-content;
  width: min-content;
  padding: 20px;
  user-select: none;
}

.calendar--wrapper {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.calendar--month-and-year {
  width: max-content;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}

.calendar--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 340px;
}

.calendar--month-down, .calendar--month-up {
  cursor: pointer;
  font-weight: normal;
  font-family: "courier new";
  font-size: 17pt;
  vertical-align: middle;
  height: 100%;
}

.calendar--weeks {
  display: flex;
  flex-direction: column;
}

.calendar--labels {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2px;
  padding-bottom: 2px;
  height: min-content;
}

.calendar--labels span {
  width: 30px;
  text-align: center;
}

.calendar--week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2px;
  padding-bottom: 2px;
  height: min-content;
}

.calendar--day {
  position: relative;
  cursor: pointer;
  text-align: center;
  width: 35px;
  height: 21px;
  padding-top: 2px;
}

.calendar--day span {
  transform: translateY(-9px);
}

.calendar--day.selected {
  text-shadow: .7px 0 0 currentColor;
  background-color: #EEE;
}

.calendar--day:hover {
  background-color: #F6F6F6;
}

.calendar--day.gone {
  cursor: default;
}

.calendar--day.gone:hover {
  background-color: inherit;
}

.calendar--day.tagged .tag {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #666666;
}

.calendar--day.tagged.gone .tag {
  display: none;
}

.calendar--day.errors {
  color: #CCCCCC;
}



.preview--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: max-content;
  font-size: 12px;
  font-weight: bold;
}

.author {
  width: max-content;
  font-size: 12px;
}

.buttons {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: white;
  color: black;
  outline: 1px solid grey;
  cursor: pointer;
  padding: 5px;
  user-select: none;
}

.btn.preview { display: none; }


.review--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8pt;
}

.settings--button {
  background-color: #EEE;
  cursor: pointer;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 5px;
  bottom: 5px;
  border-radius: 10px;
  padding: 3px 7px 3px 7px;
}

.settings--button:hover {
  background-color: #BBB;
}

.settings-mode .settings--button {
  background-color: #666;
}

.settings-mode .settings--modal {
  display: flex;
}

.settings-mode .source-select {
  opacity: .50;
  pointer-events: none;
}

.settings--modal {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  flex-direction: column;
  margin-top: 20px;
}

.settings--modal--main {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.settings--pane {
  margin-top: 10px;
  margin-bottom: 80px;
  flex: 1;
}

.sourcelist {
  /* border-right: 1px solid black; */
}

.settings--title {
  font-size: 20px;
  text-align: center;
}

.sourcelist--title {
  font-size: 18px;
  text-align: center;
}

.sourcelist--sources {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.sourcelist--source {
  padding: 5px;
  display: flex;
  user-select: none;
  background-color: #FCFCFC;
}

.sourcelist--source:nth-child(even) {
  background-color: #EEE;
}

.sourcelist--source .sourcelist--up:hover {
  background-color: #BBB;
}
